<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <% if doc_index_page? %><meta name="description" content="<%= @doc['name'] %> reference documentation with fast, fuzzy search, keyboard shortcuts, mobile version, offline access, and more."><% else %><meta name="robots" content="noindex"><% end %>
  <meta name="format-detection" content="telephone=no">
  <meta property="og:image" content="http://cdn.devdocs.io/images/icon-128.png">
  <title>DevDocs<%= ": #{@doc['name']} API Documentation" if doc_index_page? %></title>
  <link rel="icon" type="image/x-icon" href="//cdn.devdocs.io/favicon.ico">
  <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="Search DevDocs">
  <link rel="stylesheet" href="<%= main_stylesheet_path %>" data-alt="<%= alternate_stylesheet_path %>">
  <%= javascript_tag 'application', asset_host: false %><% unless App.production? %>
  <%= javascript_tag 'debug' %><% end %>
  <script>app.DOC = <%= @doc.to_json %>;</script>
</head>
<body class="_booting _noscript">
<noscript class="_fail">DevDocs requires JavaScript to run.</noscript>
<%= erb :app %></body>
</html>
