<!DOCTYPE html>
<html lang="en" class="_booting _theme-<%= app_theme %>">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <% if doc_index_page? %><meta name="description" content="<%= @doc['name'] %> <%= @doc['release'] %> API documentation with instant search, offline support, keyboard shortcuts, mobile version, and more."><% else %><meta name="robots" content="noindex"><% end %>
  <meta name="format-detection" content="telephone=no">
  <meta property="og:image" content="<%= App.cdn_origin %>/images/icon-320.png">
  <title>DevDocs<%= " &mdash; #{@doc['full_name']} documentation" if doc_index_page? %></title>
  <link rel="canonical" href="<%= canonical_origin %><%= request.path %>">
  <link rel="manifest" href="/manifest.json">
  <link rel="icon" type="image/x-icon" href="<%= App.cdn_origin %>/favicon.ico">
  <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="Search DevDocs">
  <%= stylesheet_tag 'application' %>
</head>
<body<%= %( class="#{app_layout}") if app_layout %> data-doc="<%= CGI::escape_html @doc.to_json %>">
<noscript class="_fail">DevDocs requires JavaScript to run.</noscript>
<%= erb :app -%>
<%= javascript_tag 'application', asset_host: false %><% unless App.production? %>
<%= javascript_tag 'debug' %><% end %>
</body>
</html>
